:host {
  max-width: 200px;
  border: 5px fill black;
}
.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game_result {
  display: flex;
  flex-direction: row;
}
